body {
  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: black;
}

.jumbotron {
  padding: 1rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

/* Booklist */
.booklist {
  display: flex;
  padding: 2%;
}

.booklist div img {
  box-shadow: 2px 2px 10px 5px #d5d5d5;
}

.booklist-desc {
  flex-direction: column;
  width: 60%;
  margin-left: 4%;
}

.booklist-desc p {
  line-height: 1.4;
  margin-bottom: 4%;
}

/* footer */
footer {
  background-color: #141414;

  color: #fff;
  padding: 2%;
}

.footer-social {
  margin-top: 2%;
}
.footer-social a {
  margin-right: 1.5%;
}
footer a {
  color: #fff;
}
